<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.qinxq.entity.realm.Permission">
    <sql id="table">
        Permission
    </sql>
    <sql id="base_column">
        id
    </sql>
    <insert id="insert" parameterType="com.qin.qinxq.entity.realm.Permission">
        insert into
        <include refid="table"/>
        (<include refid="base_column"/>)
        values(#{id})
    </insert>
    <select id="queryAll" resultType="com.qin.qinxq.entity.realm.Permission">
        select
        <include refid="base_column"/>
        from
        <include refid="table"/>
    </select>
    <select id="select" resultType="com.qin.qinxq.entity.realm.Permission" parameterType="com.qin.qinxq.entity.realm.Permission">
        select
        <include refid="base_column"/>
        from
        <include refid="table"/>
    </select>

    <select id="selectOne" resultType="com.qin.qinxq.entity.realm.Permission" parameterType="com.qin.qinxq.entity.realm.Permission">
        select
        <include refid="base_column"/>
        from
        <include refid="table"/>
    </select>
    <update id="update" parameterType="com.qin.qinxq.entity.realm.Permission">
        update
        <include refid="table"/>
        1=1
        where id=#{id}
    </update>
    <delete id="delete" parameterType="com.qin.qinxq.entity.realm.Permission">
        delete from
        <include refid="table"/>
        where id=#{id}
    </delete>
</mapper>